<app-nav-superior></app-nav-superior>

<div style="vertical-align: top; display: flex; ">
  <div class="row card-body">
    <div class="card-body">
      <h5>
        <a href="#" class="card-link">Usuário</a>
      </h5>
    </div>
    <div class="card-body">
      <h5>
        <a routerLink="/pagina/profissional" class="card-link">Profissional</a>
      </h5>
    </div>
    <div class="card-body">
      <h5>
        <a href="#" class="card-link">Estabelecimento</a>
      </h5>
    </div>
    <div class="card-body">
      <h5>
        <a href="#" class="card-link">Serviço</a>
      </h5>
    </div>
  </div>
</div>
