<app-nav-superior></app-nav-superior>
<div class="pesquisa">
  <!-- (ngSubmit)="pesquisar()" -->
  <form [formGroup]="form" class="form-signin">
    <fieldset class="form-group border p-3">
      <legend class="w-auto px-2">Gerenciar Agenda</legend>

      <div class="row resultados">
        <ng-container>
          <div class="col resultadoPesquisa1">
            <div class="lista">
              <div
                class="panelProfissionais"
                *ngFor="let profissional of Profissionais"
              >
                <h6>
                  {{ profissional.user.primeiroNome }}
                  {{ profissional.user.ultimoNome }}
                </h6>

                <a
                  (click)="carregaAgenda(profissional.userId)"
                  style="cursor: pointer"
                >
                  <img
                    style="border-radius: 100%"
                    src="./assets/img/usuarios/{{ profissional.user.foto }}"
                  />
                </a>
              </div>
              <div class="panelProfissionais">
                <h6>Mostrar Todos</h6>
                <a (click)="carregaAgenda(9999)" style="cursor: pointer">
                  <img
                    style="border-radius: 100%"
                    src="./assets/img/usuarios/todos.jpg"
                  />
                </a>
              </div>
            </div>
            <div
              class="row"
              *ngIf="this.ControleDataAgenda.modoExibicao == 'diario'"
            >
              <div class="col"></div>
              <div class="col" style="text-align: center">
                <h5 style="display: inline-flex">
                  {{ this.Agenda.dataAgendamento | date: "cccc" | uppercase }}
                </h5>
                <div class="d-flex justify-content-center row-8">
                  <button
                    type="button"
                    class="btn btn-primary btnIcon"
                    (click)="mudaDia(-1)"
                  >
                    <i class="fa-solid fa-square-caret-left"></i>
                  </button>
                  <div>
                    <input
                      class="form-control"
                      bsDatepicker
                      [bsConfig]="bsConfig"
                      formControlName="data"
                      placeholder="Datepicker"
                      (bsValueChange)="atualizaConsultas($event)"
                    />
                  </div>
                  <button
                    type="button"
                    class="btn btn-primary btnIcon"
                    (click)="mudaDia(+1)"
                  >
                    <i class="fa-solid fa-square-caret-right"></i>
                  </button>
                </div>
              </div>
              <div class="col">
                <button
                  *ngIf="botaoSemanal"
                  type="button"
                  class="btn btn-primary btnIcon"
                  (click)="mudaModoExibicao('semanal')"
                >
                  Modo Semanal
                </button>
              </div>
            </div>
            <div
              class="row"
              *ngIf="this.ControleDataAgenda.modoExibicao == 'semanal'"
            >
              <div class="col"></div>
              <div class="col">
                <div class="d-flex justify-content-center row-8">
                  <button
                    type="button"
                    class="btn btn-primary btnIcon"
                    (click)="mudaSemana(-7)"
                  >
                    <i class="fa-solid fa-square-caret-left"></i>
                  </button>
                  <div class="d-flex align-content-center flex-wrap">
                    <h5>
                      {{ this.Agenda.dataAgendamento | date: "shortDate" }}
                    </h5>
                  </div>
                  <button
                    type="button"
                    class="btn btn-primary btnIcon"
                    (click)="mudaSemana(+7)"
                  >
                    <i class="fa-solid fa-square-caret-right"></i>
                  </button>
                </div>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-primary btnIcon"
                  (click)="mudaModoExibicao('diario')"
                >
                  Modo Diario
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </fieldset>
    <div class="row resultados">
      <ng-container>
        <div class="col resultadoPesquisa1">
          <div class="listaHorarios">
            <ng-container
              *ngFor="
                let agrupadoPorProfissionalHorarios of AgrupadoPorProfissionalHorarios
              "
            >
              <div class="panelHorarios">
                <div class="col" >
                  <div>
                    <h5>
                      {{
                        agrupadoPorProfissionalHorarios.profissional.user
                          .primeiroNome
                      }}
                      {{
                        agrupadoPorProfissionalHorarios.profissional.user
                          .ultimoNome
                      }}
                    </h5>
                  </div>
                  <div style=" display: flex;
                  align-items: center;
                  justify-content: center;">
                    <img
                      style="margin-bottom: 50px"
                      style="border-radius: 100%"
                      src="./assets/img/usuarios/{{
                        agrupadoPorProfissionalHorarios.profissional.user.foto
                      }}"
                    />
                  </div>
                </div>

                <div class="row d-flex justify-content-center" style="margin: 0; padding: 0; ">
                  <ng-container
                    *ngFor="
                      let profissionalHorariosAgrupados of agrupadoPorProfissionalHorarios.profissionalHorariosAgrupado
                    "
                  >
                    <div class="col  " style="margin: 20; padding: 0;">
                      <div >
                      <h5 style="display: flex">
                        {{
                          this.profissionalHorariosAgrupados.dataAgendamento
                            | date: "cccc"
                            | uppercase
                        }}
                      </h5>
                      <h5 style="display: flex">
                        {{
                          this.profissionalHorariosAgrupados.dataAgendamento
                            | date: "shortDate"
                        }}
                      </h5>
                      </div>
                      <div
                        class="d-flex justify-content-center flex-wrap "
                        *ngFor="
                          let listaHoras of profissionalHorariosAgrupados.horarios
                        "
                        >
                        <button
                          type="button"
                          class="btn btn-primary"
                          [ngClass]="
                            listaHoras.agendaHorario == null
                              ? ' fundoClaro'
                              : ' '
                          "
                          (click)="
                            openModal(
                              $event,
                              listaHoras,
                              this.profissionalHorariosAgrupados,
                              this.profissionalHorariosAgrupados.dataAgendamento
                            )
                          "
                          tooltip="{{ listaHoras.hora | date: 'shortTime' }}"
                        >
                          <div class="d-flex justify-content-start flex-wrap">
                            <div class="d-flex justify-content-start" style="width: 30%">
                              <b>{{ listaHoras.hora | date: "shortTime" }}</b>
                            </div>
                            <div class="d-flex-row" style="width: 70%">
                              <ng-container
                                *ngIf="listaHoras.agendaHorario !== null"
                              >
                                <div class="listaAgendado">
                                  <i
                                    class="flex p-1 fa-solid fa-user"
                                    style="font-size: 10px"
                                  ></i>
                                  {{
                                    listaHoras.agendaHorario.userCliente
                                      .primeiroNome
                                  }}
                                  {{
                                    listaHoras.agendaHorario.userCliente
                                      .ultimoNome
                                  }}
                                </div>
                                <div
                                  class="listaAgendado"
                                  style="font-style: italic"
                                >
                                  <i
                                    class="flex p-1 fa-solid fa-scissors"
                                    style="font-size: 10px"
                                  ></i>
                                  {{
                                    listaHoras.agendaHorario.servico.descricao
                                  }}
                                </div>

                                <!-- {{ listaHoras.agendaHorario.observacao}} -->
                              </ng-container>
                            </div>
                          </div>
                        </button>
                        <br />
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
