.nav{
  height: 80px;
  background: #fff;
  color:#263238;
  display: flex;
  align-items: center;
  min-width: 190px;
}

.letrasiniciais{
  background-color:#263238;
  color: #fff;
  border-radius: 100%;
  padding: 8px;

}
.dropdown-item i{

  padding-right: 8px;
}


